* {
    box-sizing: border-box;
}
body {
margin: auto;
width: 80%;
}
.item {
    height: 370px;
    width: 300px;
    background-color: rgb(233, 231, 231);
    display: inline-block;
    margin-top: 3%;
}